@model Book
@{
    ViewData["Title"] = "DetailView";
}
<div class="container">
    <h1>Book Details</h1>
    <h4>@ViewBag.Message</h4>
    <hr>
    <div class="row">
        <b class="col-6">BookId</b>
        <div class="col-6">@Model.BookId</div>
    </div>
    <div class="row">
        <b class="col-6">BookName</b>
        <div class="col-6">@Model.BookName</div>
    </div>
    <div class="row">
        <b class="col-6">BookCover</b>
        <div class="col-6">@Model.BookCover</div>
    </div>
    <div class="row">
        <b class="col-6">YearOfPublic</b>
        <div class="col-6">@Model.YearOfPublic</div>
    </div>
    <div class="row">
        <b class="col-6">Summary</b>
        <div class="col-6">@Model.Summary</div>
    </div>
    <div class="row">
        <b class="col-6">Languages</b>
        <div class="col-6">@Model.Languages</div>
    </div>
    <div class="row">
        <b class="col-6">Content</b>
        <div class="col-6">@Model.Content</div>
    </div>
    <div class="row">
        <b class="col-6">UpdateDate</b>
        <div class="col-6">@Model.UpdateDate</div>
    </div>
    
    <br> 
    <div>
        @Html.ActionLink("Edit", "Edit", new {id = Model.BookId}) |
        @Html.ActionLink("Back to list", "Index") |
        @Html.ActionLink("Delete", "Delete", new {id = Model.BookId})
    </div>
</div>